@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }
}

@layer components {
  .glass-card {
    @apply bg-white/5 backdrop-blur-lg border border-white/10;
  }
}